body {
    font-family: var(--ff);
    position: relative;
}

/* #region Sidebar */
.sidebar_container {
    background-color: var(--sidebar-bg-color);
    border-right: 1px solid var(--sidebar-border-color);
    padding: var(--padding-block) var(--padding-inline);
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.sidebar_container.open {
    transform: translateX(0);
}

.sidebar_container.closed {
    transform: translateX(-100%);
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    --size: 24px;
    width: var(--size);
    height: var(--size);
}

.header_close {
    border: none;
    margin: none;
    background: none;
}

.header_logo,
.header_sidebar {
    margin: var(--padding-block);
}

.header_sidebar_icon {
    display: none;
}

.header_close_icon {
    display: block;
}

.sidebar_list {
    list-style: none;
    padding: 0;
    padding: calc(var(--padding-block) * 3) var(--padding-inline);
}

.sidebar_list_item {
    display: flex;
    gap: 0.5rem;
}

.sidebar_list_item span {
    font-size: calc(var(--fs) * 0.875);
    letter-spacing: 0.02em;
}
/* #endregion Sidebar */

/* #region Chat */
.chat_container {
    padding: calc(var(--padding-block) * 2) calc(var(--padding-inline) * 1.75);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat_hamburger {
    --size: 24px;
    width: var(--size);
    height: var(--size);
}

.chat_body {
    text-align: center;
}

.body_placeholder {
    font-size: calc(var(--fs) * 1.75);
}
/* #endregion Chat */

/* #region Footer */
.footer_form {
    border: 1px solid var(--chat-border-color);
    padding: calc(var(--padding-block) * 1.25) calc(var(--padding-inline) * 1.5);
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px 0px var(--box-shadow-color);
}

.footer_input {
    border: none;
    outline: none;
    margin-inline-start: 2rem;
    width: 100%;
}

.footer_input::placeholder {
    color: rgba(13, 13, 13, 0.5);
}

.footer_send {
    border: none;
    margin: none;
    background-color: #000000;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_send_icon {
    filter: invert(1);
    padding: 0.15rem;
}
/* #endregion Footer */

@media screen and (min-width: 768px) {
    body {
        display: flex;
    }

    /* #region Sidebar */
    .sidebar_container {
        position: static;
        min-width: var(--sidebar-width);
    }
    /* #endregion Sidebar */

    /* #region Chat */
    .chat_container {
        width: 100%
    }

    .chat_hamburger {
        display: none;
    }

    .header_sidebar_icon {
    display: block; 
    }

    .header_close_icon {
        display: none;
    }
    /* #endregion Chat */
}